In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('data857489168.csv', delimiter='\t')
df.head(5)

  # SampleTime SensorID Value
0                  0, 0, NULL
1                  0, 1, NULL
2              0, 2, 0.033883
3                  0, 3, NULL
4             0, 4, -0.009496

In [7]:
df_splitted = df['# SampleTime SensorID Value'].str.split(', ', expand=True)

# Rinomina le colonne
df_splitted.columns = ['SampleTime', 'SensorID', 'Value']

# Converte le colonne SampleTime, SensorID e Value in numeri (se necessario)
df_splitted['SampleTime'] = pd.to_numeric(df_splitted['SampleTime'])
df_splitted['SensorID'] = pd.to_numeric(df_splitted['SensorID'])
df_splitted['Value'] = pd.to_numeric(df_splitted['Value'], errors='coerce')

# Combina il nuovo dataframe con quello originale
df = pd.concat([df, df_splitted], axis=1)

# Elimina la colonna originale
df.drop('# SampleTime SensorID Value', axis=1, inplace=True)

In [8]:
df.head(5)

   SampleTime  SensorID     Value
0           0         0       NaN
1           0         1       NaN
2           0         2  0.033883
3           0         3       NaN
4           0         4 -0.009496

In [9]:
# Remove rows with null values in the 'Value' column
df = df.dropna(subset=['Value'])
df.head(5)

   SampleTime  SensorID     Value
2           0         2  0.033883
4           0         4 -0.009496
5           0         5  0.000000
7           0         7 -0.057306
8           0         8  0.029096

In [10]:
print(df["Value"])

2          0.033883
4         -0.009496
5          0.000000
7         -0.057306
8          0.029096
             ...
5961028   -0.012583
5961029    0.017622
5961030    0.007505
5961031   -0.001913
5961032    0.069343
Name: Value, Length: 4496620, dtype: float64

In [11]:
df.to_csv('data.csv', index=False)